<a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">首页</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">文章</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">关于我</h2></a>
<a href="{{ "/resume" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">简历</h2></a>
<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>
